<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person, :class => "btn btn-danger" %>
<%= link_to 'Back to All Invoices!', people_path, :class => "btn btn-outline-success"  %>
